:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

.all {
    display: flex;
    padding-top: 1.25rem!important;
}

.text-chinese {
    font-family: cursive;
}

.text-chinese-book {
    text-align: left!important;
    padding-left: 1rem!important;   
}

.book-panel {
    margin-top: 3rem!important;
    text-align: right!important;
}

.text-chinese-prefix {
    text-align: left!important;
    padding: 1rem!important;
}

.text-chinese-content {
    padding-left: 1rem!important;
    padding-right: .25rem!important;
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}

/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

@media (min-width: 576px) {
    .text-chinese-book {
        text-align: right!important;
    }
    .all {
        display: flex;
        min-height: 100vh;
        min-width: 375px;
    }
    .book-panel {
        margin-top: 1rem!important;
    }
    .text-chinese-prefix {
        text-align: right!important;
    }
    .text-chinese-content {
        padding: .25rem!important;
    }
    
}

@media (min-width: 992px) {

}